// .btn {
//   color: white;
//   background: red;
//   width: 20rem;
//   display: inline-block;
//   height: 5rem;

//   &::before {
//     content: "yi";
//     display: inline-block;
//     background: green;
//     width: 0%;
//     height: 5rem;
//     transition: .75s all cubic-bezier(1, 0, 0, 1);
//   }
//   &:hover::before{
//     background: blue;
//     width: 100%;
//   }
// }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  padding: 3rem;
  position: relative;
  background: #232526; /* fallback for old browsers */
  background: linear-gradient(to right, #232526, #414345, #414345, #232526);
}

.icon {
  color: $secondary-color;
  font-size: 10rem;
  margin: 1rem;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
