
// circle that tech icons are placed around
.circle-container {
  @include on-circle($item-count: 10, $circle-size: 45rem, $item-size: 0.5rem);
  animation: cog-spin 0.75s ease-out, fade-in 1.25s ease-out;
  shape-outside: circle(50%);
  position: relative;

  @include respond(phone) {
    margin-top: 50%;

    @include on-circle(
      $item-count: 10,
      $circle-size: 22.5rem,
      $item-size: 0.4rem
    );
  }
  & > i {
    font-size: 5rem;
    color: $secondary-color;
    @include respond(phone) {
      font-size: 2.5rem;
    }
    &::before {
      z-index: 111;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 1s;
      border-bottom: 2px solid transparent;
    }
    &:hover::before {
      transition: all 1s;
      animation: underline-fade 1s ease-out, fade-in 0.5s linear;
      @include respond(phone) {
        animation: none;
      }
    }

    // reveals text name on hover
    &:nth-child(1):hover::before {
      content: "MongoDB";
    }
    &:nth-child(2):hover::before {
      content: "Express";
    }

    &:nth-child(3):hover::before {
      content: "React";
    }

    &:nth-child(4):hover::before {
      content: "Node";
    }
    &:nth-child(5):hover::before {
      content: "AngularJS";
    }
    &:nth-child(6):hover::before {
      content: "SASS";
    }
    &:nth-child(7):hover::before {
      content: "CSS";
    }
    &:nth-child(8):hover::before {
      content: "HTML";
    }
    &:nth-child(9):hover::before {
      content: "Git";
    }
    &:nth-child(10):hover::before {
      content: "JavaScript";
    }
    &:nth-child(11) {
      color: $primary-color;
      transition: 1s all;
    }

    // toolbox icon in center of circle
    &:nth-child(11):hover::before {
      content: "Full Stack JavaScript";
      color: $secondary-color;
    }
  }
}
